.detail {
  padding: 0.2em;
}

.description {
  white-space: pre-wrap;
}

.title,
.channelTitle,
.description {
  color: white;
}

.title {
  margin: 0.2em;
}
.statistics {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 1em 0;
  color: rgb(153, 153, 153);
}

.viewCount {
  display: inline-flex;
}

.icons {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
}

.thumbsUp,
.thumbsDown,
.share,
.save,
.more {
  margin: 0 1.2rem;
  font-size: 1.1rem;
}

.like_span,
.dislike_span,
.share_span,
.save_span {
  margin-left: 0.4em;
}

.line {
  width: 100%;
  height: 1px;
  border-width: 0;
  margin: 1em 0;
  color: rgb(88, 87, 87);
  background-color: rgb(88, 87, 87);
}

.comment {
  color: rgb(219, 215, 215);
}

@media screen and (max-width: 72rem) {
  .statistics {
    font-size: 0.7em;
  }
}
