.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 5rem;
  padding: 1em;
  background: #242424;
}

.header_logo {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  font-size: 0.6rem;
  cursor: pointer;
}

.icon {
  margin-right: 1em;
  margin-left: 0.2em;
  font-size: 1.5em;
}

.logoImg {
  padding: 0.2em 0.3em;
  margin-right: 0.2em;
  width: 2rem;
  height: 100%;
}

.button {
  font-size: 1em;
}
.input {
  flex-basis: 100%;
  margin-left: 3em;
  font-size: 1.3rem;
  padding: 0.4em;
  background-color: #121212;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.2em;
}

.searchButton {
  background-color: rgba(92, 89, 89, 0.54);
  margin-right: 0.5em;
}

.button {
  height: 2rem;
  padding: 0.5em 0.2em;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

.micIcon {
  font-size: 1.5em;
  padding: 0 0.05em;
  margin-right: 3rem;
}

.icons {
  display: flex;
}

.record,
.menu,
.bell {
  margin: 0 0.7em;
  margin-right: 1em;
}
